body {
    display:flex ;
    justify-content: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black;
    width: 460px;
    height: 460px;
}
.grid{
    flex-grow: 1;
    border: 1px solid black;
    padding: 11px;
    flex-basis: 1%;
}
.black {
    background-color: black;
}