body {
    display:flex ;
    flex-direction: column;
    justify-content: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black;
    width: 920px;
    height: 920px;
}
.rows{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.columns {
    flex-grow: 1;
}
.black {
    background-color: black;
}
.reset {
    max-width: fit-content;
}